<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdkDJXtYiBovK7BaSdkfMSG3oHgJmEhy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1065661038230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pinnitagpay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pinni-b2a39</string>
	<key>STORAGE_BUCKET</key>
	<string>pinni-b2a39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065661038230:ios:5e65e4444425c970020cb7</string>
</dict>
</plist>